*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.imge i{
    font-size: 30px;
    /* border: 1px solid; */
}
.board{
    /* background-color:rgb(rgb(220, 38, 38), rgb(215, 46, 46), rgb(219, 16, 30), ); */
    background-color: #3c3939;
    width: 180px;
    height: 100vh;
    /* display: none; */
    position:fixed;
    top: 10px;
    left: -200px;
    transition: 0.3s;
    overflow-x: hidden;
    
    /* transition: left 0.5s ease; */
}
.imge{
    position: relative;
}
.imge:hover .board{
    left: 0;
}
.board img{
    border-radius: 50%;

}
.board p{
    text-align: center;
    /* padding: 10px; */
}
.board .desh{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.desh a{
    color: #dfd6d6;
    text-decoration: none;
    padding: 20px;
}

body{
    overflow-x: hidden;
    background: #000;
    color: aliceblue;
}
button{
    padding: 10px 20px;
    /* color: rgb(9, 10, 10); */
    color: aliceblue;
    border-radius: 30px;
    cursor: pointer;
}

.navmain{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    position: fixed;
    width: 100%;
    margin-top: 50px;


}
.navmain button{
    background-color: #82b440;
    border-radius: 10px;
}
.nav2{
    margin: 20px;
    /* margin-top: 40px; */
    display: flex;
    justify-content: space-between;
    position: relative;
  
    /* margin-right: 20px; */
}
.button{
    margin-left:-150px ;
}
.nav2 button{
    /* display: flex; */
    margin-left:80px ;
    background-color: transparent;
    border: none;
     
    justify-content: space-between;
}
button:hover{
    /* border: 1px solid black; */


    
}
/* .button button:nth-last-child(1):hover{
    background: #000;
} */

 .page1{
    width: 70%;
    margin-top: 60px;
    margin-left:100px;
    font-size: 20px;
    text-align: center;
    padding: 40px 20px;

 }

 .page1 button{
    background:#82b440;
    margin-top: 50px;


 }
 .page2{
    width: 100%;
    animation: move 10s linear infinite ;
    position: absolute;
    position: relative;
    /* overflow: hidden; */
    white-space: nowrap;
  
 }
 .page2 img{
    height: 80px;
    width: 80px;
    margin: 60px;

    
  
 }
 @keyframes move {
    from{
        /* right: 10px; */
        transform:translate(100%);
    }
    to{
        /* right: 1000px; */
        transform: translate(-100%);
     
    }
 

 }

 .page2{
    height: 100%;
    width: 100%;
    /* background: #8d7a7a; */
 }
 .page3{
    margin-bottom: 150px;
 }
 .page3 .lower{
    width: 50%;
    background-color: black;
    margin: 20px;
    margin-bottom: 10px;
    color: #e8e2ff;
 }
 .page4{
    background-color: #f8f4f0;
    color: #000;
    margin: 40px;
    padding: 80px;
 }
 .page4 h1{
    padding-top:20px ;
    padding-bottom: 20px;
 }
 .page5{
    padding-top:100px;
    /* padding: 200px; */
    background-color: #ffffff;    
    color: #000;
    width: 93%;
    margin: 40px;
 }
 .page5half{
    display: flex;
 }

 .page5 h1{
    text-align: center;
    font-size: 30px;
    /* margin-top: 50px; */
    font-family: sans-serif;
 }
 .page5 .talentpool{
    background-color:  #f8f8f8;
    width: 80%;
    margin-top: 60px;
}
.talent{
    background-color: #ffff;
    width: 400px;
}

.talent p{
    padding:  10px;
}
.martin{
    display: flex;
    padding: 10px;
    margin-left: 30px;
    
}
/* .profil{
    margin-top: 20px;
} */
.p1,.p2,.p3{
    display: none;
}
.profil .p1{
    position: absolute;
    /* margin-top: 200px; */
    top: 70px;
    /* border: 1px solid black; */
    background-color: #e8e2ff;
}

.martin:hover .p1{
    display: block;
}
.ellie{
    display: flex;
    padding: 10px;
    margin-left: 30px;
}
.ellie:hover .p2{
    display: initial;
}
.sofia{
    display: flex;
    padding: 10px;
    margin-left: 30px;
}
.profil .p3{
    position: absolute;
    top: -70px;
}
.p3{
    text-align: center;
    background-color: #e8e2ff;
}
.sofia:hover .p3{
    display: block;
}
.talentpool .profil{
    position: absolute;
    left: 40%;
    margin-top: -30px;
    background-color: #e8e2ff;
    /* border: 1px solid black; */
    width: 140px;
    display: flex;
    /* background: #000; */
}
.profil{
    text-align: center;
}

.hiring{
    margin-top: 60px;
    width: 50%;
    padding: 20px;
    margin-left: 140px;
    font-size: 20px;
}
.hiring h1{
    font-family: serif;
    margin-left:-40px;
}
 .hiring ul {
  color:  #777787;
 }
 .page5half .hiring button{
    border: none;
    color: #000;
    background-color: transparent;
    font-size: 25px;
    border-bottom: 2px solid black;
    margin-left: -40px;
    margin-top: 50px;
    border-radius: 0px;
 }
 .hiring button:hover{
    border: none;

 }


 .pricing{
    /* border: 1px solid black; */
    background-color: #fff;
    width: 94%;
    margin: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .pricing .main{
    margin: 50px;
    box-shadow: 1px 1px 18px 5px black;
 }
 .upper{
    text-align: center;
    background-color: chocolate;
    padding: 5px;
 }
 .lower{
    text-align: center;
    background-color: #fff;
     margin: 10px;
    color: #000;
 }
 .lower button{
    color: #000;
    margin: 10px;
 }


 .up{
    display: flex;
    align-items: center;
    margin-left: 60px;
    font-size: 40px;
    /* padding: 20px; */
 }
 .lo{
    /* padding: 20px; */
    display: flex;
    align-items: center;
    margin-left: 60px;
    font-size: 40px;
 }
 .fothead{
    text-align: center;
    /* padding: 20px; */
    margin-top: 90px;
 }

 .fotimg{
    display: flex;
    justify-content: center;
    /* padding: 20px; */


 }
 .fotimg img{
    padding: 30px;
 }