*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

.upper{
    background-image: url(https://tse3.mm.bing.net/th?id=OIP.QWdpkLdKJzysZDwLs-O-sgHaFN&pid=Api&P=0&h=180);
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.upper h1,h2{
    text-align: center;
    color: rgb(224, 227, 229);

}
.middle{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.0AHUfLbk1g3T9CTszjZ5UAHaDx&pid=Api&P=0&h=180);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding:50px;
}
.sologan{
    width: 400px;
    padding: 60px;
    margin-left: 60px;
    /* color: aliceblue; */
    font-size: 20px;
    text-align: center;

    /* background-color: #5e4747; */
}
button{
  position:absolute;
  bottom: 1px;
  left: 50%;
  padding: 10px 60px;
  background-color: blue;
  color: azure;
  cursor: pointer;
  border-radius: 15px;
  transform: translate(-50%);
}